.container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 20px 15px;
}

.unselecteable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.header_base {
  composes: unselecteable;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout {
  height: 100%;
}

.layout__header {
  composes: bg-secondary from "renderer/themes/colors.css";
  composes: header_base;
}

.layout__content {
  composes: bg-secondary from "renderer/themes/colors.css";
  overflow: scroll;
}

.layout__content__welcome {
  composes: text-color from "renderer/themes/colors.css";
  font-size: 2.4em;
  font-weight: normal;
}

.layout__content__user {
  composes: text-color from "renderer/themes/colors.css";
  font-size: 2.4em;
  font-weight: bold;
  padding-left: 6px;
}

.layout__content__subtitle {
  composes: text-color from "renderer/themes/colors.css";
  font-size: 1em;
  font-style: italic;
  opacity: 0.6;
}

.product_card {
  composes: unselecteable;
}

.product_card--selected {
  border: 1px solid #ff4d4e;
}

.product_card--selected:hover {
  border: 1px solid #ff4d4e;
}

.product_card__meta___badge {
  position: absolute;
  right: -8px;
  top: -8px;
}
.product_card__meta___name {
  composes: text-color from "renderer/themes/colors.css";
  line-height: 1.1em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  padding-bottom: 2px;
  min-height: 32px;
}

.product_card__meta___price {
  line-height: 1em;
  font-size: 1.7em;
  color: #ff4d4e;
}

.layout__sider {
  composes: bg-primary from "renderer/themes/colors.css";
}

.layout__sider__header {
  composes: header_base;
  composes: bg-primary from "renderer/themes/colors.css";
  padding: 0 24px;
}

.layout__sider__content {
  composes: bg-primary from "renderer/themes/colors.css";
  height: calc(100% - 96px - 220px);
  overflow: scroll;
  padding: 0px 0px 16px 0px;
}

.layout__sider__footer {
  composes: bg-primary from "renderer/themes/colors.css";
  /*border-top: 1px solid red;*/
  padding: 24px 30px;
}

.layout__sider__footer__resume {
  composes: bg-secondary from "renderer/themes/colors.css";
  width: 100%;
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 6px 0px;
}

.layout__sider__footer_pendings {
  composes: unselecteable;
  display: flex;
  margin-bottom: 12px;
  padding-left: 4px;
  cursor: pointer;
}

.layout__sider__footer_pendings > div:first-child {
  padding-right: 12px;
}

.layout__sider__footer_pendings > div:last-child {
  font-weight: 300;
  font-size: 1.05em;
}

.layout__sider__footer__resume__row {
  padding: 0px 12px 0px 12px;
}

.layout__sider__footer__resume__col_names {
  composes: unselecteable;
  width: 70%;
  font-size: 1.1em;
  padding-left: 8px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.layout__sider__footer__resume__col_values {
  width: 30%;
  font-size: 1.5em;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.layout__sider__footer__actions {
  display: flex;
  align-items: center;
}

.layout__sider__footer__actions__button {
  width: 75%;
  height: 48px !important;
  font-size: 1.3em !important;
  margin-right: 16px;
}

.layout__sider_empty_cart {
  composes: unselecteable;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}

.layout__sider_empty_cart > img {
  width: 70%;
}

.layout__sider__title {
  composes: layout__content__user;
  padding-left: 0px;
}

.cart_item {
  composes: unselecteable;
  width: calc(100% - 24px);
  height: 80px;
  margin: 0px 24px;
  padding: 0px 0px;
  border-bottom-color: transparent !important;
}

.cart_item__avatar {
  composes: unselecteable;
  border: 0px solid #eeeeee;
  border-radius: 4px;
  width: 56px;
  height: 56px;
}

.cart_item__avatar > span {
  height: 48px;
  width: 48px;
}

.cart_item__name {
  composes: unselecteable;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 0px;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  padding-right: 12px;
}

.cart_item__price {
  font-size: 1.2em;
  line-height: 1em;
  opacity: 0.6;
  padding-top: 3px;
}

.cart_item__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart_item__actions__quantity {
  font-size: 1.3em;
  line-height: 1.3em;
  width: 44px;
  text-align: center;
}

.slots_modal {
  width: 1080px !important;
  min-height: 60%;
  border-radius: 8px;
  overflow: hidden;
}

.slot_modal_item {
  margin-right: 16px;
}
