.layout__sider {
  composes: bg-primary from "themes/colors.css";
}

.layout__sider__header {
  composes: bg-primary from "themes/colors.css";

  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 106px;
}

.layout__sider__header > img {
  width: 70%;
}

.layout__sider__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.layout__sider__buttons__button {
  margin: 4px 0px;
  opacity: 1;
  width: 100% !important;
}

.layout__sider__buttons__button:first-child {
  margin-top: 0px;
}
